<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>ROCHAMBO</title>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="script/app.js"></script>
   <link rel="stylesheet" href="style/style.css" media="screen" title="no title" charset="utf-8">
   <script type="text/javascript" src="script/app.js"></script>

   <h1>RO-CHAM-BO!</h1>
   <p>
     Choose rock, paper, or scissors.
   </p>
    <input id="playerMove" type="text">
    <button type="button" onclick="myFunction()">Submit</button>

   <div>Results are:
     <span id="result"></span>
   </div>

   <!-- <div>Player:
     <span id="playerScore"></span>
   </div>

   <div>Computer:
     <span id="compScore"></span>
   </div> -->

</body>
</html>
